[submodule "EncryptedMessaging"]
	path = EncryptedMessaging
	url = https://github.com/Andrea-Bruno/EncryptedMessaging
[submodule "Messenger/AnonymousMessenger"]
	path = Messenger/AnonymousMessenger
	url = https://github.com/Andrea-Bruno/AnonymousMessenger
[submodule "Messenger/MessengerCloud"]
	path = Messenger/MessengerCloud
	url = https://github.com/Andrea-Bruno/MessengerCloud
[submodule "SecureStorage"]
	path = SecureStorage
	url = https://github.com/Andrea-Bruno/SecureStorage
